doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/slider.css')
    link(rel='stylesheet', href='/fonts/iconfont.css')
  body
    block content
    script(src='/javascripts/shuffle.js')
    script(src='/javascripts/slider.js')
