.slider.slider1
  .container
    a(href='#'): img(src='/images/slider/1.png')
    a(href='#'): img(src='/images/slider/2.jpg')
    a(href='#'): img(src='/images/slider/3.jpg')
    a(href='#'): img(src='/images/slider/4.jpg')
    a(href='#'): img(src='/images/slider/5.jpg')
  p.dot_boxer 
    span.dot.active
    span.dot
    span.dot
    span.dot
    span.dot
  p.next
    i.iconfont.icon-icon_left_arrow
  p.prev 
    i.iconfont.icon-icon_right_arrow

.slider.slider2
  .container
    a(href='#'): img(src='/images/slider/1.png')
    a(href='#'): img(src='/images/slider/2.jpg')
    a(href='#'): img(src='/images/slider/3.jpg')
    a(href='#'): img(src='/images/slider/4.jpg')
    a(href='#'): img(src='/images/slider/5.jpg')
  p.dot_boxer 
    span.dot.active
    span.dot
    span.dot
    span.dot
    span.dot
  p.next
    i.iconfont.icon-icon_left_arrow
  p.prev 
    i.iconfont.icon-icon_right_arrow